<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pixel Server</title>
        <link href="pixels.css" rel="stylesheet" type="text/css" />
        <script src="jquery.min.js" type="text/javascript"></script>
        <script src="jquery-ui.min.js"></script>
        <script src="pixels.js" type="text/javascript"></script>
        </head>

    <body>
        <div id="divapplybuttons"><button type="button" id="applybutton" onclick="go_index()">Pixel Server</button>
        
        <span id="userlogin">
        {% if user %}
            <button type="button" id="profilebutton" onclick="profile()">{{ user }}</button>
            {% if admin %}
                <button type="button" id="settingsbutton" onclick="settings()">Settings</button>
            {% endif %}
            <button type="button" id="logoutbutton" onclick="logout()">Logout</button>
        {% else %}
            <button type="button" id="loginbutton" onclick="login()">Login</button>
        {% endif %}
        
        </span>

        </div>
        

        <div id="settings-tabs"><a href="settings" class="tab-item-selected">Pixel Settings</a> <a href="useradmin" class="tab-item">User Administration</a>
        </div>
        <div id="settings">
        
        <p>{{ message }}</p>
        
        <form id="settingsform" action="settings" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ form|safe }}
        
        <input type="submit" name"submit" value="Save Settings">
        
        </form>
        
        </div>

    </body>
</html>